header{
  width: 100%;
   padding: 1rem;
   margin-bottom: 1rem;
  background-color: #f5ba13;
  box-shadow: 1px 1px z 3px rgb(0, 0 ,0, .75)
}
header h1{
 
  color: white;
}

.notes{

  margin-left: 2.5rem;
  background-color: rgb(251, 253, 247);
  border-radius: 5px;
  padding: 1rem;
  float: left;
  
 
}
.notes h2{
border-bottom-style: solid;
border-color: rgb(184, 18, 101);
  font-style: bold;

}
.notes p{
  color:#413f3f ;
  font-style: italic;
}
footer{
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 2rem;
  bottom: 0;
  background-color: #f5ba13;
}
section{
  color: rgb(83, 53, 138);
  margin-left: 2rem;
  width: 400px;
  padding: 1rem;
  float: left;
  box-shadow: 0 2px 3px rgba(0,0,0, .75);
}
section h3 h4{
  color: black;
}
section img{
  border-radius: 50%;
  margin: 2rem;
}
section button{
  background-color: rgb(184, 18, 101);
  width: 100px;
  height: 50px;
   border-style:unset;
   border-radius: 5px;
   font-size: large;
   font-weight: bold;
   cursor: pointer;
   margin-left: 9rem;
}
button:hover{
  background-color: rgb(212, 100, 156);
}